* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.btn,
input[type=submit] {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
  background-color: #00a8bb;
  border: 1px solid #00a8bb;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #004e77;
}

.section-title {
  color: #fff;
  font-size: 2.5rem;
  margin-top: -20.0rem;
  max-width: fit-content;
  text-align: center;
}

.section-heading {
  color: #fff;
  margin-bottom: 3.0rem;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.content,
.auth-content {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: space-between;
}

.content {
  background-image: linear-gradient(#000000b4, #000000b4), url(../img/repairs2.jpg);
  height: 100vh;
}

.auth-content {
  background-image: linear-gradient(#000000b4, #000000b4), url(../img/repairs1.jpg);
  height: 120vh;
}

.row {
  margin: 0 auto;
  max-width: 1240px;
}

header {
  background-color: #00a8bb;
  position: sticky;
  top: 0;
}

.header-logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-logo .user {
  color: #e6b530;
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 1.6rem;
}

.header-logo .user {
  color: #e6b530;
  font-weight: 600;
  font-size: 1.7rem;
  margin-left: 1.6rem;
}

.logo {
  height: 5.0rem;
  max-width: 170px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

/* ----------------------------------------------- */
/* Navigation */
/* ----------------------------------------------- */
.nav-toggle .mdi-view-sequential {
  color: #ddf3ff;
  background: #00a8bb;
  border: 1px solid #ddf3ff;
  font-size: 2.5rem;
}

nav .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .row:before,
nav .row:after
 {
  content: none;
}

.main-nav {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 2.5rem auto 0;
  width: 20.0rem;
}

.main-nav li {
  margin: 0 auto 2.3rem;
  width: fit-content;
}

.main-nav li a:link,
.main-nav li a:visited {
  border-bottom: 2px solid transparent;
  color: #fff;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-bottom 0.2s;
}

.main-nav li a.active {
  border-bottom: 2px solid #99dcff;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e1b12c;
}

.navbar-show {
  display: block;
}

/* ----------------------------------------------- */
/* SignUp and SignIn Form */
/* ----------------------------------------------- */
.signup-form {
  margin: 0 auto;
  width: 60%;
}

.signup-form .row {
  margin-top: 2.3rem;
}

.signup-form .submit-btn {
  text-align: center;
}

.form-title {
  color: #fff;
}

.label {
  color: #fff;
  font-size: 1.9rem;
  padding-bottom: 1.2rem;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

input[type=password],
input[type=email]
 {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

.form-info {
  color: #fff;
  margin-top: 1.0rem;
}

.form-info  a {
  color: #e1b12c;
  margin-top: 1.0rem;
}

/* ----------------------------------------------- */
/* VIEW ALL REQUEST */
/* ----------------------------------------------- */
.requests-list {
  color: #494949;
  font-size: 1.2rem;
  list-style: none;
}

.request-item {
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 855px;
}

.request-item.resolved {
  border-left: 4px solid #44bd32;
}

.request-item.pending {
  border-left: 4px solid #d1a429;
}

.request-item.rejected {
  border-left: 4px solid #e84118;
}

.request-item.new-request {
  border-left: 4px solid #dcdde1;
}

.status-resolved {
  background-color: #44bd32;
  color: #fff;
  padding: 1.5rem 0 1.5rem 0.4rem;
  width: 70px;
}

.status-pending {
  background-color: #d1a429;
  color: #fff;
  padding: 1.5rem 0 1.5rem 0.7rem;
  width: 70px;
}

.status-rejected {
  background-color: #e84118;
  color: #fff;
  padding: 1.5rem 0 1.5rem 0.7rem;
  width: 70px;
}

.status-new {
  background-color: #dcdde1;
  color: #555;
  padding: 1.5rem 0 1.5rem 1.7rem;
  width: 70px;
}

.pagination {
  text-align: center;
  margin-bottom: -11.0rem; 
  margin-top: 2.3rem; 
}

.pagination a {
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: #555;
}

.filter {
  margin-bottom: 2.3rem;
  margin-top: -13.0rem;
  max-width: 855px;
  width: 100%;
}

.filter .label {
  padding-bottom: 0.5rem;
}

select[name=filter]
 {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 250px;
}

/* ----------------------------------------------- */
/* REQUEST DETAILS */
/* ----------------------------------------------- */
.card-details {
  background-color: #fcfcfce5;
  color: #333333;
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.request-user {
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  justify-content: space-between;
  padding: 1.0rem;
}

.request-user span {
  color: #a7a4a4;
  font-size: 70%;
  font-style: italic;
}

.admin-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem;
}

.btn-approve,
.btn-reject,
.btn-resolve {
  border: none; 
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.btn-approve {
  background-color: #d1a429;
}

.btn-approve:hover {
  background-color: #b48e24;
  cursor: pointer;
}

.btn-reject {
  background-color: #e84118;
}

.btn-reject:hover {
  background-color: #bb3615;
  cursor: pointer;
}

.btn-resolve {
  background-color: #44bd32;
}

.btn-resolve:hover {
  background-color: #328825;
  cursor: pointer;
}

.details p {
  font-size: 1.9rem;
  font-weight: 400;
  padding: 1.0rem;
}

.details p {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
}

.details .detail {
  display: inline-block;
  width: 170px;
}

.details .details-heading {
  font-style: italic;
  font-weight: 600;
  padding-right: 1.0rem;
}

footer p {
  color: #00a8ff;
  font-weight: 600;
  margin-bottom: 2.6rem;
  text-align: center;
}

/* ----------------------------------------------- */
/* MEDIA QUERIES */
/* ----------------------------------------------- */

@media (min-width: 576px) {
  nav .row {
    flex-direction: row;
  }

  nav .main-nav {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 0;
    margin-right: 0; 
  }

  .nav-toggle {
    display: none;
  }

  .auth-content {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .logo {
    height: 6.0rem;
  }

  .requests-list {
    font-size: 1.6rem;
  }

  .section-title {
    margin-left: auto;    
    margin-right: auto;
    margin-top: -11.0rem;
  }

  .filter {
    margin-top: -7.0rem;
  }

  .admin-btn {
    flex-direction: row;
  }

  .request-user {
    margin-left: 3.5rem;
    width: 395px;
  }

  .details {
    margin-bottom: 4.0rem;
    margin-left: 3.5rem;
  }

  .details .detail {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .label {
    padding-left: 9.0rem;
    padding-top: 1.0rem;
  }

}

@media (min-width: 1200px) {

}
